NEXT_PUBLIC_WALLET_CONNECT_PROJECT_ID=
# Address of the deployed contract
NEXT_PUBLIC_CONTRACT_ADDRESS=
# Address of Super Token specified while deploying the contract
NEXT_PUBLIC_SUPPORTED_TOKEN_ADDRESS=
# Symbol of the Super Token specified while deploying the contract
NEXT_PUBLIC_SUPPORTED_TOKEN_SYMBOL=